.widget {
    width: 300px;
    border: 2px solid var(--lumo-secondary-text-color);
    border-radius: 16px;
    font-size: 24px;
    color: var(--lumo-primary-text-color);
    padding-left: 8px;
    background: var(--lumo-base-color) linear-gradient(var(--lumo-contrast-5pct), var(--lumo-contrast-5pct));
}

.widget-content {
    color: var(--lumo-secondary-text-color);
}

.widget-content-small {
    font-size: 20px;
}